// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Overlay for the RPi Display 2 MIPI DSI panel connected to J4:DSI
 * on R-Car V4H ES3.0 Sparrow Hawk board
 *
 * Copyright (C) 2025 Marek Vasut <marek.vasut+renesas@mailbox.org>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/*
 * Adapted from https://github.com/raspberrypi/linux
 * arch/arm/boot/dts/overlays/vc4-kms-dsi-ili9881-7inch-overlay.dts
 * branch rpi-6.14.y
 * commit 9a10dd34ce58 ("BCM2708: Add core Device Tree support")
 */
&{/} {
	reg_dsi_touch: regulator-dsi-touch {
		compatible = "regulator-fixed";
		regulator-name = "touch_reg_1";
		gpio = <&display_mcu 1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <50000>;
		enable-active-high;
	};
};

&i2c0_mux3 {
	#address-cells = <1>;
	#size-cells = <0>;

	display_mcu: display_mcu@45 {
		compatible = "raspberrypi,v2-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	gt911: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		AVDD28-supply = <&reg_dsi_touch>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;
		touchscreen-x-mm = <90>;
		touchscreen-y-mm = <151>;
	};
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;

			dsi0_out: endpoint {
				remote-endpoint = <&panel_in>;
				data-lanes = <1 2>;
			};
		};
	};

	panel@0 {
		reg = <0>;
		compatible = "raspberrypi,dsi-7inch";
		reset-gpio = <&display_mcu 0 GPIO_ACTIVE_LOW>;
		backlight = <&display_mcu>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi0_out>;
			};
		};
	};
};

